body {
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(214, 244, 244);
  }
  
  .newPost {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(122, 118, 118, 0.1);
  }
  
  .container h2 {
    color: #b56a6a; 
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .boxItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .inputfile input[type='text'],
  .inputfile textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
  }

  .inputfile .previewItem {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    width: 29%;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .inputfile .deleteIcon {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(176, 201, 162);
    cursor: pointer;
  }
  
  .inputfile .previewImage,
  .inputfile .previewVideo {
    height: 200px;
  }
  
  .previewItem {
    position: relative;
    margin: 10px;
    width: 20%;
  }
  
  .previewImage {
    width: 100%;
    height: 200px;
  }
  
  .previewVideo {
    width: 100%;
    height: 200px;
  }
  
  .uploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    width: 29%;
    height: 200px;
    background-color: #f2f2f2;
    border: 2px solid rgb(52, 199, 174);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .uploadButton:hover {
    background-color: #d9e3bb;
  }
  
  .uploadButton .uploadIcon {
    font-size: 20px;
    color: #b26767;
  }
  
  .uploadButton span {
    font-size: 18px;
    color: rgb(130, 170, 65);
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #9ee9a1;
    color: rgb(212, 140, 47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: rgb(126, 211, 130);
  }
  
  .titleInput {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #555454;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .descriptionInput {
    height: 300px;
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }