.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e7f9cd;
    padding: 10px;
    z-index: 999;

}

.userButtonContainer {
    position: relative;
}

.content {
    margin-top: 80px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #333;
    margin-right: 20px;
}


.nav-links {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0;
    flex-grow: 1;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #ddd;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;
}

.dropdown-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    box-shadow: 0 0 10px 20px rgba(166, 219, 120, 0.5);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    margin-left: -100px;
}

.dropdown.showMenu .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px 0;
}

.dropdown-menu li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.dropdown-menu li button:hover {
    background-color: #f2f2f2;
}

.dropdown-menu li button .icon {
    margin-right: 10px;
    font-size: 18px;
}

.dropdown-menu li button h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}
.search-icon {
    position: relative;
  }
  
  .search-button {
    cursor: pointer;
  }
  
  .search-input {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .showSearch .search-input {
    display: block;
  }