.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.content-container {
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-container h2 {
  margin-top: 0;
}

.content-container input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.content-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.content-container button:hover {
  background-color: #45a049;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}